<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="medor"> 


<gazebo>
    <plugin name="joint_state_publisher_controller" filename="libgazebo_ros_joint_state_publisher.so">
        <!-- Update rate in Hertz -->
        <update_rate>10</update_rate>

        <!-- Name of joints in the model whose states will be published. -->
        <joint_name>arm_base_joint</joint_name>
        <joint_name>first_rot_link_joint</joint_name>
        <joint_name>second_rot_link_joint</joint_name>

    </plugin>
</gazebo>

<gazebo>
    <plugin name="joint_pose_trajectory_controller" filename="libgazebo_ros_joint_pose_trajectory.so">
        <!-- Update rate in Hz -->
        <update_rate>2</update_rate>
        
    </plugin>
</gazebo>

<gazebo reference="first_arm">
    <material>Gazebo/White</material>
    <!-- <mu1 value="0.01" />
    <mu2 value="0.01" /> -->
</gazebo>

<gazebo reference="second_arm">
    <material>Gazebo/Black</material>
    <!-- <mu1 value="0.01" />
    <mu2 value="0.01" /> -->
</gazebo>
<gazebo reference="arm_base_link">
    <material>Gazebo/Green</material>
</gazebo>
<gazebo reference="third_arm">
    <material>Gazebo/Red</material>
</gazebo>

</robot>