<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="medor">

<xacro:include filename="$(find medor_description)/urdf/common.xacro"/>

<!-- Include the base robot -->
<xacro:include filename="$(find medor_description)/urdf/mobile_base.xacro"/>

<!-- Include the standalone arm -->


</robot>
