<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="medor">

<xacro:include filename="$(find ultrasonic_sensor)/urdf/common.xacro"/>
<!-- <xacro:include filename="$(find ultrasonic_sensor)/urdf/meshes.xacro"/> -->
<!-- Include the base robot -->
<xacro:include filename="$(find ultrasonic_sensor)/urdf/mobile_base.xacro"/>

<!-- Include the standalone arm -->
<!-- <xacro:include filename="$(find ultrasonic_sensor)/urdf/arm.xacro"/> -->


</robot>
