<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="medor"> 

  <!-- Include the common.xacro file -->
  <xacro:include filename="$(find ultrasonic_sensor)/urdf/mobile_base.gazebo.xacro"/>

  <!-- Base Footprint (Empty parent for ground projection) -->
  <link name="base_footprint">
    <!-- No visual, collision, or inertial properties as it's an "empty" link -->
  </link>

  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="1"/>
      </geometry>
      <material name="white"/>  <!-- Use material defined in common.xacro -->
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.2" radius="1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10.0"/>
      <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="1e-3"/>
    </inertial>
  </link>

  <!-- Joint between base_footprint and base_link -->
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <!-- The origin ensures the base_footprint is directly beneath base_link -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- <joint name="mesh_joint" type="fixed">
    <parent link="base_link"/>
    <child link="mesh_link"/>
    <origin xyz="0 -0.7 0.07" rpy="0 0 0"/>
  </joint> -->

  <!-- Left Wheel -->
  <xacro:wheel name="left_wheel" color="black" radius="0.25" length="0.1" xyz="0 -0.05 0" rpy="1.57075 0 0"/>

  <!-- Left Wheel Joint -->
  <xacro:wheel_joint name="left_wheel_joint" parent_link="base_link" child_link="left_wheel" axis_xyz="0 1 0" origin_xyz="1 0 0" origin_rpy="0 0 1.5"/>

  <!-- Right Wheel -->
  <xacro:wheel name="right_wheel" color="black" radius="0.25" length="0.1" xyz="0 0.05 0" rpy="1.57075 0 0"/>

  <!-- Right Wheel Joint -->
  <xacro:wheel_joint name="right_wheel_joint" parent_link="base_link" child_link="right_wheel" axis_xyz="0 1 0" origin_xyz="-1 0 0" origin_rpy="0 0 1.5"/>


</robot>
